summary > h3 {
  transition: color var(--default-delay);
}

summary:hover > h3 {
  color: #1f1fff;
}

li:has(details summary:hover) .delete,
.delete:hover {
  opacity: 1;
}

.container button {
  background-color: transparent;
  border: none;
}

.entryList > li {
  position: relative;
}

.container > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entryCard > fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem 2rem;
}

.entryCard > fieldset > :last-child {
  grid-column: 1/3;
}

.entryCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea {
  padding: 0.5rem;
}

.startEnd {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.entryCard {
  border: 1px solid black;
  padding: 1rem;
}

.delete {
  position: absolute;
  top: 0%;
  width: var(--editor-content-padding);
  right: calc(var(--editor-content-padding) * -1);
  transform: translateY(20%);
  opacity: 0;
  transition:
    opacity var(--default-delay),
    color var(--default-delay);
}

.delete:hover {
  color: #1f1fff;
}

.add {
  width: 100%;
  text-align: left;
  transition: background-color var(--default-delay);
  color: #1f1fff;
  padding: 1rem;
  font-weight: 700;
  font-size: 0.9rem;
}

.add:hover {
  background-color: #f5f5ff;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.entryCard > .content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 800ms ease,
    opacity 200ms ease,
    transform 200ms ease;
  border: 1px solid red;
}

.entryCard[open] > .content {
  max-height: 800px; /* must be bigger than content */
  opacity: 1;
  transform: translateY(0);
}
