summary > h3 {
  transition: color var(--default-delay);
}

summary:hover > h3 {
  color: var(--brand-blue);
}

li:has(details summary:hover) .delete,
.delete:hover {
  opacity: 1;
}

.entryList > li {
  position: relative;
}

ul.entryList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.entryCard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--input-field-color);
  padding: 1rem;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
  gap: 1rem 2rem;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.entryCard > fieldset > :last-child {
  grid-column: 1/3;
}

.startEnd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  width: 100%;
}

.delete {
  position: absolute;
  top: 0%;
  width: var(--editor-content-padding);
  right: calc(var(--editor-content-padding) * -1);
  transform: translateY(20%);
  opacity: 0;
  transition:
    opacity var(--default-delay),
    color var(--default-delay);
}

.delete:hover {
  color: var(--brand-blue);
}

.entryCard > .content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 800ms ease,
    opacity 200ms ease,
    transform 200ms ease;
}

.entryCard[open] > .content {
  max-height: 800px; /* must be bigger than content */
  opacity: 1;
  transform: translateY(0);
}
