.header {
  height: auto;
  border-bottom: 1px solid var(--input-field-color);
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  gap: 2rem;
}

.actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.navItem {
  display: flex;
  width: 100%;
  justify-content: start;
  gap: 0.5rem;
  align-items: center;
  background-color: transparent;
  padding: var(--padding);
  transition: background-color var(--default-delay);
}

.navItem:hover {
  cursor: pointer;
  background-color: var(--background-color);
  border-radius: inherit;
}

.dropDown {
  position: relative;
  --padding: 0.7rem;
}

.toggleButton {
  --border-width: 0px;
  --border-radius: calc(0.5 * 5rem);

  width: 3rem;
  aspect-ratio: 1/1;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.toggleButton:hover {
  background-color: var(--input-field-color);
  transition: background-color 0.1s ease-in;
}

.button {
  width: 70%;
  aspect-ratio: 1/1;
  border-radius: calc(var(--border-radius) - var(--border-width))
    calc(var(--border-radius) - var(--border-width));
  background-color: white;
  display: flex;
  justify-content: center;
  border: none;
  align-items: center;
}

.content {
  right: 0;
  position: absolute;
  transform: translateY(10%);
  width: 15rem;
  padding: var(--padding);
  border: none;
  box-shadow: 0px 0px 3px var(--dark-field-color);
  background-color: white;
  border-radius: 10px;
  transform-origin: top right;
  scale: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.content.show {
  scale: 1;
  transition: scale 0.2s ease;
}
