.personal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem 2rem;
}

.sectionTitle {
  padding-top: 1rem;
}

@media (max-width: 600px) {
  .personal {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
