.preview {
  aspect-ratio: 1/1.4141;
  width: clamp(600px, 100%, 850px);
  background-color: white;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.preview * {
  font-family: Garamond;
}

.container {
  padding: 0.2rem 0.2rem 0 0;
  height: 100%;
}

.preview h2 {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 0.5rem 0;
  text-align: left;
}

.preview header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
